@page
@model IndexModel5
@{
}

<div class="container intro">
    <section class="row col-sm-12">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <header>
                <h1>Method Injection</h1>
            </header>
        </article>
    </section>
</div>

<div class="container">
    <section class="row col-sm-12">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="box-display">

                <p>
                    The abstraction can also be injected using another type of dependency injection named method injection. 
                    Method injection is done by injecting the dependency into a single method and generally for the use of 
                    that method.
                </p>

                <h2>Index5.cshtml.cs</h2>

                <pre>
                    <code>
                        public class IndexModel5 : PageModel
                        {
                            public string CreateNewEmail(IEmailService emailservice, string username)
                            {
                                return emailservice.CreateMailAccount(username);
                            }
                        }
                    </code>
                </pre>

                <p>
                    The code that is calling the main class would have to specify what mail service is going to be used 
                    and pass it to the method.
                </p>

                <pre>
                    <code>
                        public void OnGet()
                        {
                            GoogleMailService googleMailService = new GoogleMailService();
                            IndexModel5 indexModel5 = new IndexModel5();
                            EmailConfirmation = indexModel5.CreateNewEmail(googleMailService, _useraccount.Username);
                        }
                    </code>
                </pre>

                <div class="confirmation">
                    <p>@Model.UserConfirmation</p>
                    <p>@Model.EmailConfirmation</p>
                </div>
            </div>
            <div class="box-display">
                <ul>
                    <li>
                        <a href="/Index4">Previous</a>
                    </li>
                </ul>
            </div>
        </article>
    </section>
</div>
